@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 33% 17%;
    --card: 0 0% 100%;
    --card-foreground: 222 33% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 33% 17%;
    --primary: 196 87% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 33% 17%;
    --muted: 210 40% 98%;
    --muted-foreground: 215 16% 47%;
    --accent: 18 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 196 87% 32%;
    --chart-1: 196 87% 32%;
    --chart-2: 18 100% 60%;
    --chart-3: 142 50% 38%;
    --chart-4: 43 96% 56%;
    --chart-5: 0 84% 60%;
    --radius: 0.625rem;
    --sidebar-background: 210 40% 98%;
    --sidebar-foreground: 222 33% 17%;
    --sidebar-primary: 196 87% 32%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 40% 96%;
    --sidebar-accent-foreground: 222 33% 17%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 196 87% 32%;
  }
  .dark {
    --background: 222 33% 6%;
    --foreground: 210 40% 98%;
    --card: 222 33% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 222 33% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 196 75% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 33% 14%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 33% 14%;
    --muted-foreground: 215 16% 60%;
    --accent: 18 100% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 33% 14%;
    --input: 222 33% 14%;
    --ring: 196 75% 41%;
    --chart-1: 196 75% 41%;
    --chart-2: 18 100% 60%;
    --chart-3: 142 50% 50%;
    --chart-4: 43 96% 56%;
    --chart-5: 0 84% 60%;
    --sidebar-background: 222 33% 9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 196 75% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 33% 14%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 222 33% 14%;
    --sidebar-ring: 196 75% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
